<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>IoT Sensor Data </title>

<link rel='stylesheet' href='/stylesheets/style.css' />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->


</head>

<body>
    <div class="container">
    <div class="well jumbotron">
        <h2>Thank You!</h2>
        <p>Please click <a href="/sensors">HERE</a> to see your most recent data. </p>
    </div>

    <footer class="footer navbar-fixed-bottom">
        <hr>
        <div class="container" align="center">
            <p class="text-muted">Coded by <a href="www.juma.io">JUMA</a>.</p>
        </div>
    </footer>


    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>
