<% include header.ejs %>

<div class="well jumbotron">

<h1><%= title %></h1>

<p>Welcome to <%= title %> Website.</p>

<p>This is a IoT Sensor Data collectiong and analysing system.</p>

<p>Please refer to <a href="#">this</a> for detail usage.</p>

</br>

<p><a class="btn btn-primary btn-lg" href="#" role="button">Got It!</a></p>

</div>

<% include footer.ejs %>
