<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>今天的小鸡图表</title>

    <script type="text/javascript" src="/chickens/javascripts/echarts.js"></script>

</head>
<body>

<p>红色: 当天的步数值全为 0</p>
<p>黄色: 当天步数为 0 的次数超过 5 次</p>
<p>蓝色: 已经收到的当天的数据少于 12 个</p>
<p>绿色: 其他</p>
<br />

<div id="chickens_card" style="width: 850px; height: 0px;"></div>

<script>
    var chickenScores = JSON.parse('<%- chickenScores %>');

    if (chickenScores.length == 0) {
        throw new Error("Should stop because no data");
    }

    // 设置图表
    var divContainer = document.getElementById("chickens_card");
    var chart = echarts.init(divContainer);

    var xAxisTexts = [];
    for (var i = 1; i <= 24; i++) {
        xAxisTexts.push(i);
    }

    var size = Math.ceil(chickenScores.length / xAxisTexts.length)
    var yAxisTexts = [];
    for (var i = 1; i <= size; i++) {
        yAxisTexts.push(i);
    }

    var chartDatas = [];
    for (var i = 0; i < chickenScores.length; i++) {
        var column = i % xAxisTexts.length;
        var row = Math.floor(i / xAxisTexts.length);
        chartDatas.push([column, row, chickenScores[i].score]);
    }

    var option = {
        tooltip: {
            position: 'top'
        },
        animation: false,
        grid: {
            left: 50,
            right: 50,
            top: 20,
            bottom: 100
        },
        xAxis: {
            type: 'category',
            data: xAxisTexts,
            splitArea: {
                show: true
            }
        },
        yAxis: {
            type: 'category',
            data: yAxisTexts,
            splitArea: {
                show: true
            }
        },
        visualMap: {
            left: 'center',
            bottom: '20',
            orient: 'horizontal',
//            min: 0,
//            max: 100,
//            calculable: true,
            type: 'piecewise',
            dimension: 2
            categories: ['0', '1', '10', '100'],
            color: {
                '0': 'red',
                '1': 'yellow',
                '10': 'blue',
                '100': 'green'
            }
        },
        series: [{
            name: 'Punch Card',
            type: 'heatmap',
            data: chartDatas,
            label: {
                normal: {
                    show: true
                }
            },
            itemStyle: {
                //normal: {
                //    borderWidth: 0.5,
                //    borderColor: 'white'//'rgb(237, 237, 237)'
                //},
                emphasis: {
                    shadowBlur: 10,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }]
    };

    chart.setOption(option);
    chart.on('click', function(event){
        var did = chickenScores[event.dataIndex].did;
        window.open("http://www.jumacc.com:1883/chicken?did=" + did);
    })

    divContainer.style.height = (option.grid.top + option.grid.bottom + yAxisTexts.length * 31) + 'px';
    chart.resize();

</script>

</body>
</html>
