<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Log</title>
</head>
<body>

<input type="button" onclick="location.reload()">

<% for (var i = 0; i < logs.length; i++) { %>
     <p><%logs[i]%></p>
<% } %>

</body>
</html>
